<div class="page-header">
  <h1>There are <span id="count"><%= @classified_count %></span> classified items</h1>
</div>

<table class="table">
<% 
  @classified.each_with_index do |sha, i|
     classification = @classifications[i] 
     label_class = @label_classes[classification]
%>
<tr>
  <td><pre class="blob syntax ruby" id="blob_<%= sha %>"></pre></td>
  <td><span class="label label-<%= label_class %>"><%= classification %></span></td>
</tr>
<% end %>
</table>
