<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/main.css"></link>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"></link>
    <script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <ul class="nav navbar-nav navbar-left">
          <li><a class="navbar-brand" href="/">MonkeyBadger</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/reset">Reset</a></li>
          <li><a href="/train">Train</a></li>
          <li><a href="/inspect">Inspect</a></li>
          <li><a href="/classified">Classified <span class="badge"><%= @classified_count %></span></a></li>
          <li><a href="/unclassified">Unclassified <span class="badge"><%= @unclassified_count %></span></a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
