<div class="page-header">
  <h1>There are <span id="count"><%= @unclassified_count %></span> items to classify...</h1>
</div>

<table class="table">
  <% @unclassified.each do |sha| %>
    <tr>
      <td><pre class="blob syntax ruby" id="blob_<%= sha %>"></pre></td>
      <td>
        <select id="classify_<%= sha %>" class="classify">
          <option>&nbsp;</option>
          <% STATUSES.each do |status| %>
            <option><%= status %></option>
          <% end %>
        </select>
      </td>
    </tr>
  <% end %>
</table>
